* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border-bottom: 0.1rem solid #cdcdcd;
}

header div {
  display: flex;
  align-items: center;
}

header div a {
  font-size: 1.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 1rem;
}

header div a:link,
header div a:visited {
  color: black;
}

.header-img {
  width: 17rem;
}

h1 {
  color: red;
  padding: 18rem;
  font-size: 8rem;
}

.content {
  margin-left: 47rem;
}

.content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.content p a {
  color: black;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 4rem;
    padding: 8rem 0 4rem 2rem;
  }

  .content {
    margin-left: 3rem;
  }
  .content p:first-child {
    margin-bottom: 1.4rem;
  }
}
